* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  box-sizing: content-box;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 2px;
  color: rgb(142, 142, 147);
}

hr {
  height: 1px;
  background-color: rgb(230, 230, 230);
  border: none;
  margin-top: 7%;
  margin-bottom: 7%;
}

p.text-block {
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #393f4d;
  text-align: center;
}

.text-block > a {
  letter-spacing: 1px !important;
  color: #393f4d !important;
  text-transform: unset !important;
}

a {
  color: #393f4d;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.handwritten {
  font-family: 'Reenie Beanie', cursive;
}

.contact-btn {
  font-size: 20px;
  position: fixed;
  top: 5%;
  right: 5%;
  background: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1;
}

.contact-btn:focus {
  outline: none;
}

.contact-btn:hover {
  text-decoration: none;
}
.contact-btn > span {
  font-size: 25px;
  margin-right: 10px;
}

.fp-tooltip {
  color: #393f4d !important;
  font-family: 'Raleway', sans-serif !important;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.contact-btn:hover > span {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.home {
  display: flex;
  height: 100vh;
}

.home,
.about,
.projects,
.contact {
  max-width: 1000px;
  margin: auto;
  padding-left: 10% !important;
  padding-right: 10% !important;
  box-sizing: content-box;
}

.home__down-arrow {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: rgb(142, 142, 147);
  cursor: pointer;
}

.home__down-arrow:hover {
  color: #2a2530;
}

.home__social {
  display: inline-flex;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  justify-content: center;
  max-width: 1000px;
}

.home__social > a {
  font-size: 35px;
  height: 35px;
  color: rgb(142, 142, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.home__social > a:last-of-type {
  margin-right: 0;
}

.home__social > a:hover {
  color: rgb(0, 155, 255);
  text-decoration: none;
}

.home__social > a > img {
  height: 35px;
  width: auto;
}

.home__social--contact {
  justify-content: flex-start;
  margin-top: 5%;
}

.home__social--contact > *:not(:last-child) {
  margin-right: 10%;
}

.home__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.home__body__about__text > h1 {
  margin: 0;
  color: #2a2530;
  font-size: 4em;
}

.home__body__about__text > h1:last-of-type {
  margin-top: 10px;
  font-size: 3.5em;
}

.home__body__about__text {
  width: 100%;
  text-align: center;
}

.home__body__about {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about {
  height: 100vh;
}

.about__body__name__text > h1 {
  font-size: 3em;
  font-weight: 600;
  align-items: center;
  margin: 0;
}

.about__body__name__text > p {
  font-size: 1.5em;
  font-weight: 400;
  align-items: center;
  margin: 0;
}

.about__body__name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.about__body__name__img {
  width: 120px;
  height: 120px;
  background: rgb(0, 155, 255);
  border-radius: 50%;
  padding: 10px;
  margin-right: 30px;
  box-sizing: border-box;
}

.section {
  background: none !important;
}
.about,
.contact,
.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.projects {
  max-width: 100% !important;
}

.projects > h1 {
  margin-bottom: 60px;
}

.projects__grid {
  width: 100%;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-template-rows: repeat(auto-fit, 600px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
}

.projects__platforms {
  margin-top: 40px;
}

@media only screen and (max-width: 1550px) {
  .projects__grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
    grid-template-rows: repeat(auto-fit, minmax(450px, 450px));
    grid-auto-rows: minmax(450px, 450px);
  }

  .projects__project__screen {
    display: none !important;
  }

  .projects__project__logo {
    width: auto !important;
    height: 50% !important;
    max-width: 100% !important;
  }

  .projects__platforms {
    margin-top: 50px;
  }
}

.projects__project {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.projects__project:hover {
  text-decoration: none;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.projects__project p {
  font-size: 20px;
  letter-spacing: unset;
}

.projects__project__screen {
  height: 57%;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.projects__platforms > span {
  background: rgb(248, 248, 248);
  border-radius: 6px;
  padding: 5px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}

.projects__project__logo {
  width: auto;
  height: 17%;
  max-width: 60%;
}

.contact__body > h1 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.contact__body > a {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.contact__top-link {
  position: absolute;
  bottom: 5%;
  font-size: 30px;
  color: rgb(142, 142, 147);
}

.contact__reference {
  text-align: center;
}

.contact__reference > p {
  font-size: 15px;
}

#fp-nav a > span {
  background: #393f4d;
}

@media only screen and (max-width: 1300px) {
  .projects > a:last-of-type {
    display: none;
  }

  .projects__description {
    display: block;
  }

  .projects__logo {
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 1100px) and (max-width: 1175px) {
  .projects__grid {
    display: flex;
    flex-direction: column;
  }

  .projects__project {
    height: 25vh;
    margin-bottom: 20px;
    width: 100%;
  }

  .projects__platforms {
    display: none;
  }

  .projects__project__logo {
    max-width: 300px !important;
  }
}

@media only screen and (max-width: 640px) {
  .home,
  .about,
  .projects,
  .contact {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .projects__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(300px, 300px));
    grid-auto-rows: minmax(300px, 300px);
  }

  .projects__platforms {
    margin-top: 30px;
  }

  h1 {
    font-size: 1.75em !important;
  }

  p {
    font-size: 1.5em;
  }

  .projects__project p {
    font-size: 15px;
  }

  #fp-nav {
    transform: translate3d(0, 0, 0) rotate(-90deg) scale(1.5) !important;
    top: 30px !important;
    right: unset !important;
    left: 60px !important;
  }

  .fp-tooltip {
    display: none !important;
  }

  .optional {
    display: none;
  }

  .about__body > .text-block:nth-of-type(2) {
    margin-bottom: 0;
  }

  .about__body__name__img {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-bottom: 40px;
  }

  .about__body__name {
    flex-direction: column;
  }

  .home__social > a {
    font-size: 30px;
    height: 30px;
  }

  .home__social {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .home__social > a > img {
    height: 25px;
    width: auto;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .home__body__about__text > h1 {
    margin-bottom: 10px;
    font-size: 3em !important;
  }

  p.text-block {
    font-size: 1em;
    margin-top: 40px;
  }
}
